body {
    background-color: #E2E3E1;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#joke{
    padding: 15px 0px;
    color: #69A562;
    background-color: whitesmoke;
    border: 1px slategray solid;
}

.hidden{
    display: none;
}

.newJoke{
    color: #C98B35;
}

img{
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 30%;
}

button {
    padding: 15px;
    border-radius: 10%;
}

section{
    margin-top: 2%;
}